.mpvimage {
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    color: #f1f1f1;
    text-align: center;
    -webkit-user-select: text !important;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 225px; */
    overflow: hidden;
    /* width: 1306px;
    height: 710px; */
}