div.mi0 {
    width: 100%;
    min-width: 490px;
    padding: 0;
    margin: 0 0 4px;
    ;
    background: #43464e;
    border: 1px solid #34353b
}

div.mi1 {
    font-size: 8pt;
    font-family: arial,helvetica,sans-serif;
    color: #f1f1f1;
    text-align: center;
    visibility: visible;
    -webkit-user-select: text!important;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

div.mi1 img {
    margin: 0 2px;
    cursor: pointer
}

div.mi2 {
    position: relative;
    float: left;
    z-index: 2;
    margin-top: -2px
}

div.mi3 {
    position: relative;
    float: right;
    z-index: 2;
    margin-top: -2px
}

div.mi4 {
    position: absolute;
    font-size: 10pt;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1
}

div#bar1 {
    height: 1px;
    width: 100%
}

div#bar2 {
    position: relative;
    float: right;
    width: 35px;
    height: 1px
}

div#bar3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 270px;
    z-index: 3;
    text-align: right
}

div#bar3 img {
    cursor: pointer;
    margin: 3px 5px 3px 3px
}

div#pane_outer {
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0;
    position: relative
}

div#pane_thumbs {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll
}

div#pane_thumbs_inner {
    width: 100%
}

div#pane_thumbs_inner div {
    cursor: pointer;
    padding: 0;
    margin: 0
}

div#pane_images {
    position: absolute;
    top: 0px;
    left: 225px;
    width: 700px;
    height: 500px;
    overflow: hidden
}

div#pane_images_inner {
    width: 100%
}